
.p-t-0 { padding: 0 !important; }

.p-5 { padding: 5px !important; }

.p-10 { padding: 10px !important; }

.m-b-0 { margin-bottom: 0 !important; }

.font-15 { font-size: 15px !important; }

.resp-wd {width: 55%; }

.head-title {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px !important;
}

.nav-ul > li.active > a {
    color: #fff;
    background: #1e252f;
}

.nav-ul > li > a:hover {
    color: #fff !important;
    background: #1e252f !important;
}

@media only screen and (max-device-width: 767px) { .resp-wd { width: 100%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 800px) {
	.resp-wd {
		width: 39%;
		margin-top: 5px;
	}
}

@media only screen and (min-device-width: 801px) and (max-device-width: 991px) {
	.resp-wd {
		width: 32%;
		margin-top: 8px;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) { .resp-wd { width: 48%; } }